<form class="flex flex-col" [formGroup]="form" (ngSubmit)="submit()">
  <input
    type="text"
    class="border rounded w-full py-2 px-4 mb-1"
    [ngClass]="{
      'border-red-600': title.touched && title.status === 'INVALID',
      'outline-red-600':  title.touched && title.status === 'INVALID'
    }"
    placeholder="Product name"
    formControlName="title"
    appFocus
  >

  <div class="pl-1">
    <small
      class="text-red-600 font-medium mb-2"
      *ngIf="title.errors?.minlength"
    >6 characters minimum. Now {{title.value.length}}</small>
  </div>

  <button
    type="submit"
    class="py-2 px-5 mt-2 bg-blue-600 text-white ml-auto rounded"
  >Create
  </button>
</form>
